<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Crawl Central</title>
</head>

<body class="font-inter antialiased bg-slate-100 text-slate-600"
      :class="{ 'sidebar-expanded': sidebarExpanded }"
      x-data="{ page: 'dashboard-main', sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true' }"
      x-init="$watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))">

<!-- Page wrapper -->
<div class="flex h-screen overflow-hidden">
    <!-- Sidebar -->
    <!-- Content area -->
    <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">
        <!-- Site header -->
        <main>
            <p th:text="${obj}">
            </p>
        </main>
    </div>
</div>
</body>
</html>
